<ion-header>
  <ion-toolbar>
    <ion-title slot="start">Productos</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/products/create']">
        <p slot="start">Nuevo Producto</p>
        <ion-icon
          slot="end"
          name="add-circle-outline"
          color="success"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <app-product-item
      *ngFor="let item of products"
      [product]="item"
      [routerLink]="['/products', item?.code]"
    ></app-product-item>
  </ion-list>
</ion-content>
